.register-container {
    width: 600px;
    max-width: 90%;
    min-height: 500px;
    padding: 30px;
    background-color: rgb(229, 229, 220);
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* background-color: #faf0e6; */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
}

button:hover {
    background-color: #d73b00;
}

button[type="submit"].login-button {
    color: rgb(38, 63, 134);
    background-color: rgba(229, 229, 220,1);
    border: 2px solid rgb(38, 63, 134);
}

button[type="submit"].login-button:hover {
    color: #e6dcc7;
    background-color: rgb(38, 63, 134);
}